.parent {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    }
.square_blue{
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.square_green{
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-color: green;
}
.square_red{
    width: 100px;
    height: 100px;
    background-color: red;
}